<h1>
  {{title}}
</h1>
<button *ngIf="!auth.isAuthenticated()" (click)="auth.login()">Login</button>
<button *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Logout</button>
<button *ngIf="auth.isAuthenticated()" (click)="showProfile()">Show Profile</button>
<button *ngIf="auth.isAuthenticated()" (click)="updateProfile()">Update Profile</button>